---
import { storyblokEditable } from '@storyblok/astro';

interface Props {
  blok: {
    image: {
      filename: string;
      alt: string;
      backgroundImage: string;
    };
    headline: string;
    body: string;
    name: string;
  };
}

const { blok } = Astro.props;
---

<div
  {...storyblokEditable(blok)}
  class="w-full p-12 bg-[#f7f6fd] rounded-[5px] text-center"
  style={`background-image: url(${blok.image?.backgroundImage || 'https://cdn.dribbble.com/userupload/2739254/file/original-ac8226a7213611e49363fc0176a48cb0.jpg?compress=1&resize=1504x1128'});background-size: cover;`}
>
  <img
    class="w-full rounded-3xl shadow-2xl min-h-24"
    src={blok.image?.filename ||
      'https://cdn.dribbble.com/userupload/2739254/file/original-ac8226a7213611e49363fc0176a48cb0.jpg?compress=1&resize=1504x1128'}
    alt={blok.image.alt || 'cake'}
    width="1310"
    height="873"
  />
  <h3
    class="text-2xl text-white font-bold"
    style="-webkit-text-stroke: 1px green;"
  >
    {blok.name}
  </h3>
</div>
