---
import { ViewTransitions } from 'astro:transitions';
import { getCartCookie } from '@/pages/api/cart';
import { SignedIn, SignedOut, UserButton } from '@clerk/astro/components';

interface Props {
  title: string;
}

const { title } = Astro.props;
const cart = getCartCookie(Astro.cookies);
---

<!doctype html>
<html
  lang="en"
  class="bg-[#13151a] bg-[length:224px] font-[system-ui,sans-serif]"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header>
      <h1>{title}</h1>
      <nav>
        <SignedOut>
          <a href="/sign-in">Sign In</a>
        </SignedOut>
        <SignedIn>
          <UserButton />
        </SignedIn>
      </nav>
    </header>
    <slot />
  </body>
</html>
